<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Adidas is a global leader in the sporting goods industry, offering a wide range of products for athletes and sports enthusiasts.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="/products" class="text-light">Products</a></li>
                    <li><a href="/about" class="text-light">About</a></li>
                    <li><a href="/contact" class="text-light">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Connect With Us</h5>
                <div class="social-links">
                    <a href="#" class="text-light me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr class="mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Adidas. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> 